<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codejie.pms.mapper.AdminMapper">

    <select id="initSelect1" resultType="java.lang.String">
      select quarter from departmentKpi where quarter is not null group by quarter order by quarter desc
    </select>

    <select id="initSelect2" resultType="java.lang.String">
      select weekNum from departmentKpi where weekNum is not null group by weekNum order by weekNum desc
    </select>

    <select id="allDepartment" resultType="com.codejie.pms.entity.Department">
        select * from department order by qdId
    </select>

    <select id="getWeek2" resultType="com.codejie.pms.entity.WeakCheck">
        select * from weak_check
        where isNow=2
    </select>

    <select id="weekList" resultType="java.lang.String">
        select DATE_FORMAT(departmentAddPointTime,'%Y-%m-%d') as departmentAddPointTime from departmentKpi
        where 1=1
        <if test="param1!=null and param1!=''">
            and quarter = #{param1}
        </if>
        <if test="param2!=null and param2!=''">
            and weekNum = #{param2}
        </if>
        GROUP BY DATE_FORMAT(departmentAddPointTime,'%Y-%m-%d')
        order by DATE_FORMAT(departmentAddPointTime,'%Y-%m-%d')
    </select>

    <select id="getWeekData" resultType="com.codejie.pms.entity.dto.DepartmentDelDto">
        select checkId,sum(departmentAddPoint) as countDepartment from departmentKpi
        where 1=1
        <if test="param1!=null and param1!=''">
            and quarter = #{param1}
        </if>
        <if test="param2!=null and param2!=''">
            and weekNum = #{param2}
        </if>
        <if test="param3!=null and param3!=''">
            and departmentId=#{param3}
        </if>
        GROUP BY checkId
    </select>

    <select id="getWeekData2" resultType="com.codejie.pms.entity.dto.DepartmentDelDto">
        select DATE_FORMAT(departmentAddPointTime,'%Y-%m-%d') as departmentAddPointTime,sum(departmentAddPoint) as countDepartment from departmentKpi
        where 1=1
        <if test="param1!=null and param1!=''">
            and quarter = #{param1}
        </if>
        <if test="param2!=null and param2!=''">
            and weekNum = #{param2}
        </if>
        GROUP BY DATE_FORMAT(departmentAddPointTime,'%Y-%m-%d')
    </select>

    <select id="stuCount" resultType="java.lang.String">
        select count(userId) from user where permissionDegree=3
    </select>

    <select id="getDepartmentCheckDel" resultType="com.codejie.pms.entity.dto.DepartmentDelDto">
        select t.departmentId,sum(t.departmentAddPoint) as countDepartment
        from departmentKpi t
        where 1=1
        <if test="param1!=null and param1!=''">
            and t.quarter = #{param1}
        </if>
        <if test="param2!=null and param2!=''">
            and t.weekNum = #{param2}
        </if>
        GROUP BY t.departmentId
    </select>

    <update id="upDepartment" parameterType="com.codejie.pms.entity.Department">
        update department set
        departmentKpi=(
            select sum(kpiSum)
            from user
            where departmentId =#{departmentId})
        where departmentId=#{departmentId}

       /* update department
	        set department.departmentKpi = (SELECT SUM(departmentkpi.departmentAddPoint)
	            FROM departmentkpi
	            WHERE department.departmentId = departmentkpi.departmentId)*/



    </update>

</mapper>
