<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codejie.pms.mapper.HrMapper">

    <select id="getStuMsg" parameterType="com.codejie.pms.entity.User" resultType="com.codejie.pms.entity.User">
        select * from user
        where 1=1
        <if test="userId != null and userId != ''">
            and userId = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            and userName = #{userName}
        </if>
    </select>

    <select id="haveId" parameterType="java.lang.String" resultType="java.lang.String">
        select userId from user where userId=#{parameter_}
    </select>

    <insert id="kpAdd" parameterType="com.codejie.pms.entity.AddPoint">
        insert into add_point(userId,userName,addPoint,addDesc,addTime)
        values (#{userId},#{userName},#{addPoint},#{addDesc},#{addTime})
    </insert>

    <insert id="kpDel" parameterType="com.codejie.pms.entity.DeletePoint">
        insert into delete_point(userId,userName,deletePoint,deleteDesc,deleteTime,checkId)
        values (#{userId},#{userName},#{deletePoint},#{deleteDesc},#{deleteTime},#{checkId})
    </insert>

    <insert id="kpReward" parameterType="com.codejie.pms.entity.Reward">
        insert into reward(userId,userName,rewardReason,rewardDesc,rewardTime)
        values (#{userId},#{userName},#{rewardReason},#{rewardDesc},#{rewardTime})
    </insert>

    <insert id="kpPunish" parameterType="com.codejie.pms.entity.Punish">
        insert into punish(userId,userName,punishReason,punishDesc,punishTime,punishComplete)
        values (#{userId},#{userName},#{punishReason},#{punishDesc},#{punishTime},'2')
    </insert>

    <update id="addPoint" parameterType="com.codejie.pms.entity.AddPoint">
        update user set kpiSum=kpiSum+#{addPoint} where userId=#{userId}
    </update>

    <update id="delPoint" parameterType="com.codejie.pms.entity.DeletePoint">
        update user set kpiSum=kpiSum-#{deletePoint} where userId=#{userId}
    </update>

    <select id="userExcellentKpi" resultType="com.codejie.pms.entity.UserExcellentKpi">
        select * from user_kpi order by kpiTime desc
    </select>

    <insert id="addExcellentKpiTj" parameterType="com.codejie.pms.entity.UserExcellentKpi">
        insert into user_kpi_submit(userId,userName,kpiMs,kpiPoint,kpiResult,kpiDegree,kpiDegreeMs,kpiTime)
        values (#{userId},#{userName},#{kpiMs},#{kpiPoint},#{kpiResult},#{kpiDegree},#{kpiDegreeMs},#{kpiTime})
    </insert>

    <select id="userExcellentKpiTj" resultType="com.codejie.pms.entity.UserExcellentKpi">
        select * from user_kpi_submit
    </select>

    <insert id="addExcellentKpi" parameterType="com.codejie.pms.entity.UserExcellentKpi">
        insert into user_kpi(userId,userName,kpiMs,kpiPoint,kpiResult,kpiDegree,kpiDegreeMs,kpiTime)
        values (#{userId},#{userName},#{kpiMs},#{kpiPoint},#{kpiResult},#{kpiDegree},#{kpiDegreeMs},#{kpiTime})
    </insert>

    <delete id="delExcellentKpiTj">
        delete from user_kpi_submit where kpiId=#{kpiId}
    </delete>

    <select id="allDel" resultType="com.codejie.pms.entity.DeletePoint" parameterType="com.codejie.pms.entity.DeletePoint">
        select d.*,u.* from delete_point d,user u where
        u.userId=d.userId
         <if test="userId!=null and userId != ''">
             and u.userId = #{userId}
         </if>
        <if test="deleteDesc!=null and deleteDesc != ''">
            and d.deleteDesc LIKE CONCAT('%',#{deleteDesc},'%')
        </if>
         and date_sub(CURDATE(),INTERVAL 16 DAY) &lt; DATE(deleteTime) order by deleteTime desc
    </select>

    <select id="getDel" resultType="com.codejie.pms.entity.DeletePoint" parameterType="com.codejie.pms.entity.DeletePoint">
        select * from delete_point where deleteId=#{deleteId}
    </select>

    <update id="upDel" parameterType="com.codejie.pms.entity.DeletePoint">
        update delete_point set
         userId=#{userId}
         <if test="deleteTime!=null">
             ,deleteTime=#{deleteTime}
         </if>
        <if test="deleteDesc!=null and deleteDesc != ''">
            ,deleteDesc=#{deleteDesc}
        </if>
        <if test="deletePoint!=null and deletePoint != ''">
            ,deletePoint=#{deletePoint}
        </if>
         where deleteId=#{deleteId}
    </update>

    <delete id="delThis" parameterType="com.codejie.pms.entity.DeletePoint">
        delete from delete_point where deleteId=#{deleteId}
    </delete>

    <select id="allCheck" resultType="com.codejie.pms.entity.WeakCheck">
        select * from weak_check order by checkId
    </select>





    <select id="allAdd" resultType="com.codejie.pms.entity.AddPoint" parameterType="com.codejie.pms.entity.AddPoint">
        select a.*,u.* from add_point a,user u where
        u.userId=a.userId
        <if test="userId!=null and userId != ''">
            and u.userId = #{userId}
        </if>
        <if test="addDesc!=null and addDesc != ''">
            and a.addDesc LIKE CONCAT('%',#{addDesc},'%')
        </if>
        and date_sub(CURDATE(),INTERVAL 16 DAY) &lt; DATE(addTime) order by addTime desc
    </select>

    <select id="getAdd" resultType="com.codejie.pms.entity.AddPoint" parameterType="com.codejie.pms.entity.AddPoint">
        select * from add_point where addId=#{addId}
    </select>

    <update id="upAdd" parameterType="com.codejie.pms.entity.AddPoint">
        update add_point set
        userId=#{userId}
        <if test="addTime!=null">
            ,addTime=#{addTime}
        </if>
        <if test="addDesc!=null and addDesc != ''">
            ,addDesc=#{addDesc}
        </if>
        <if test="addPoint!=null and addPoint != ''">
            ,addPoint=#{addPoint}
        </if>
        where addId=#{addId}
    </update>

    <delete id="delThis2" parameterType="com.codejie.pms.entity.AddPoint">
        delete from add_point where addId=#{addId}
    </delete>
</mapper>
